/* 头部公共样式 strat*/

.header {
    width: 100%;
    box-shadow: 1px 0 1px #000;
}

nav.navbar {
    padding: 0;
    font-size: 20px;
}
a.logo {
    padding: 10px;
}
.logo-sm,
.logo-md,
.logo-lg {
    display: none;
}
.navbar-toggler {
    height: 100%;
}
.search-default input {
    padding: 5px 20px;
    border: 1px solid #eee;
    border-radius: 20px;
    background-color: #eee;
    font-size: 14px;
    color: aquamarine;
}
.navbar-collapse {
    text-align: center;
    background-color: #fff;
}
@media (min-width:768px) {
    .header {
        height: 60px;
    }
    .nav-default {
        padding-left: 20px;
        height: 60px;
        border: none;
    }
    .navbar-nav {
        height: inherit;
    }
    .nav-link {
        padding: 0;
        height: 60px;
        line-height: 60px;
    }
    .nav-item:hover {
        border-bottom: 3px solid #000;
    }
    a.logo-lg {
        display: inline-block;
    }
    .search {
        position: absolute;
        right: 10%;
    }
}
@media (max-width:768px) {
    .logo-md {
        display: inline-block;
    }
}
 
/* 头部公共样式 end */