/* 回到顶部 start */
.go {
    /* display: none; */
    z-index: 99;
    position: fixed;
    right: 2%;
    bottom: 40%;
    padding: 5px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    background-color: tomato;
    opacity: .7;
    border: 1px solid #000;
    transition: background-color .3s linear, border .5s linear;
}
/* 回到顶部 end */

/* 头部公共样式 strat*/

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    box-shadow: 1px 0 1px #000;
}

nav.navbar {
    padding: 0;
    font-size: 20px;
}
a.logo {
    padding: 10px;
}
.logo-sm,
.logo-md,
.logo-lg {
    display: none;
}
.navbar-toggler {
    height: 100%;
}
.search-default input {
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: #eee;
    font-size: 14px;
}
.navbar-collapse {
    text-align: center;
}
@media (min-width:768px) {
    .header {
        height: 60px;
    }
    .nav-default {
        padding-left: 20px;
        height: 60px;
        border: none;
    }
    ul.navbar-nav {
        height: inherit;
    }
    li.nav-item {
        position: relative;
        margin: 0 5px; 
    }
    a.link-active {
        color: #888;
    }
    li.nav-item span {
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 3px;
        background-color: black;

    }
    .nav-link {
        padding: 0;
        height: 60px;
        line-height: 60px;
    }
    .nav-item:hover span{
        width: 100%;
        left: 0;
        transition: all .2s ease-in;
    }
    a.logo-lg {
        display: inline-block;
    }
    .search {
        position: absolute;
        right: 10%;
    }
    .search input {
        width: 150px;
    }
}
@media (max-width:768px) {
    .go {
        position: unset;
        width: 100%;
        border: none;
        text-align: center;
    }
    .logo-md {
        display: inline-block;
    }
}
 
/* 头部公共样式 end */

/* 内容部分公共样式 start*/
.container-default {
    position: relative;
    margin-top: 70px;
}
/* 内容部分公共样式 end*/

/* 底部公共样式strat */
.footer {
    width: 100%;
    background-color: blueviolet;
}
.footer-wrap {
    height: 100;
}
.footer-main-info {
    padding: 20px 0 10px 0;
    text-align: center;
    font-size: 14px;
}
.footer-main-info ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-main-info ul li {
    display: inline-block;
    margin: 0 5px;
}
.footer-others-info {
    padding: 10px 0;
    border-top: 1px solid #000;
    text-align: center;
    font-size: 12px;
}
/* 底部公共样式end */
