.header {
    height: 50px;
    border-bottom: 1px solid #f0f0f0;
}
.header .container {
    position: relative;
    height: 100%;
}

.logo {
    float: left;
    margin-right: 20px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 700;
}
.row {
    position: relative;
}
.tab a {
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 700;
}
.search form {
    position: relative;
    top: 8px;
}
.search input.search-input{
    margin-left: 20px;
    padding: 6px 15px;
    width: 140px;
    border-radius: 20px;
    border: none;
    background-color: #EEEEEE;
    font-size: 14px;
}
.head-sculpture {
    float: right;
    padding: 0 10px;
    height: 100%;
    line-height: 50px;
}
.head-sculpture-wrap {
    position: absolute;
    right: 0;
}
.head-sculpture img {
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    height: 30px;
}
